// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
$light-blue: #89CECB;
$dark-blue: #1E4B82;
$yellow: #F9C51B;
$white: #fff;
$black: #000;
$dark-brown:#3E2727;
