// Define variables for your color scheme

// For example:
$red: #e0292c;

$light-blue: #89CECB;
$blue: #1E4B82;
$yellow: #F9C51B;
$orange: #E67E22;
$green: #1EDD88;
$gray: #797979;
$light-gray: #F4F4F4;
$dark-blue: #1E4B82;
$white: #fff;
$black: #000;
$dark-brown:#3E2727;
