.pet-form, .meds-form {
  padding: 25px 25px;
  color: black;

  label {
    color: $gray;
  }

  abbr {
    color: $red;
    display: none;
  }

  .input-icon {
    position: relative;
  }

  i {
    position: absolute;
    font-size: 20px;
    top: 45px;
    left: 20px;
  }

  input, select {
    border: 1px solid black;
    border-radius: 15px;
    color: black;
    height: 48px;
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
  }

  input:focus, select:focus {
    color: black;
    border: 1px solid black;
  }

  input[type=submit] {
    background-color: $blue;
    padding: 0;
    color: white;
    border: none;
    border-radius: 15px;
    margin-top: 50px;
    font-weight: 600;
    width: 100%;
  }

  #medication_name {
    padding-left: 55px;
  }

  .medication_dosage {
    width: 48%;
  }

  .medication_medication_type {
    width: 48%;
  }
}

.pet-form, .meds-form {
  margin: 50px 0;

  h1 {
    color: black;
  }
}
