// Specific CSS for your home-page

.hero {
  height: 500px;
  background-image: url('https://images.unsplash.com/photo-1590634561459-a66450c49241?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1006&q=80');
  background-position: center;
  background-size: cover;
  padding: 50px 16px;

  h1 {
    padding-right: 90px;
    font-size: 36px;
  }

  h1, .hero-signup-btn {
    color: white;
    font-weight: bold;
  }

  .hero-action {
    margin-top: 170px;
    text-align: center;
  }

  .hero-action a {
    text-decoration: none;
  }

  .hero-action a:last-child {
    margin-top: 10px;
    font-weight: 500;
    color: white;
  }

  .hero-signup-btn {
    font-family: $headers-font;
    font-size: 18px;
    padding: 15px 30px;
    background-color: $blue;
    border-radius: 15px;
  }
}

.our-services {
  background-color: $yellow;
  padding: 70px 16px;
  text-align: center;

  h2 {
    font-weight: 700;
    margin-bottom: 50px;
  }

  .service-card {
    background-color: white;
    border-radius: 30px;
    padding: 30px;
    margin-bottom: 24px;
  }

  .service-card:last-child {
    margin-bottom: 0;
  }

  i {
    margin-bottom: 20px;
    font-size: 40px;
  }
}

.home-find-vets {
  padding: 70px 16px;
  text-align: center;

  h2 {
    font-weight: 700;
    margin-bottom: 40px;
  }

  .home-find-vets-map {
    background-image: url('https://cdn.mos.cms.futurecdn.net/cgNja7vCHHvsfP3gtfd2wg.jpg');
    background-position: center;
    background-size: cover;
    border-radius: 40px;
  }

  .home-map {
    height: 400px;
    margin-top: 20px;
  }
}

.home-witnesses {
  background-color: $blue;
  color: white;
  text-align: center;
  padding: 70px 16px;

  h2 {
    font-weight: 700;
    margin-bottom: 40px;
  }

  i {
    margin-bottom: 30px;
    font-size: 30px;
  }

  .witness-one-img {
    background-image: url('https://images.unsplash.com/photo-1527352005954-a0922fcc095a?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80');
    background-position: center;
    background-size: cover;
    height: 250px;
    border-radius: 40px;
  }

  .witness-two-img {
    background-image: url('https://images.unsplash.com/photo-1601758176175-45914394491c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80');
    background-position: center;
    background-size: cover;
    height: 250px;
    border-radius: 40px;
  }

  .witness-txt {
    background-color: white;
    border-radius: 40px;
    padding: 20px;
    color: black;
    margin: 10px 0 50px 0;

    p {
      font-size: 13px;
      margin: 20px 0 0 0;
    }

    h3 {
      font-size: 18px;
    }
  }
}

.icon {
  height: 40px;
  width: 40px;
  border: none;
  background-color: #F9C51B;
  position: fixed;
  bottom: 20px;
  left: 45%;
  border-radius: 15px;
  outline: none !important;
  touch-action: manipulation !important;
  transition: 0.25s ease 0s, transform 0.25s ease 0s !important;
  text-align: center;
  box-shadow: 0 2px 8px rgba(0,0,0,0.2);
  z-index: 100;

  i {
    margin: 0;
  }
}
