.medications_idx {
  margin: 50px 0;
}

.goback-button {
  margin-bottom: 30px;
}

.goback-button a {
  text-decoration: none;
  color: $blue;
  font-weight: bold;
}


/* Style for current meds */

.current_medications {
  margin: 50px 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  text-align: center;

  .current_medications_cards {
    border: 1px solid #ECEDEF;
    border-radius: 24px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
  }

  .curr_meds_top {
    padding: 20px;
  }

  i {
    color: $yellow;
    font-size: 35px;
    margin-bottom: 25px;
    margin-right: 0;
  }
}

.curr_meds_icons {
  display: flex;
  align-items: center;
  width: 100%;

  a {
    text-decoration: none;
  }

  i {
    color: $black;
    font-size: 20px;
  }

  .curr_meds_icon {
    width: 100%;
    border-top: 1px solid #ECEDEF;
    padding-top: 20px;
  }

  .curr_meds_icon:first-child {
    border-right: 1px solid #ECEDEF;
  }
}


/* If current meds empty */

.zero-meds-msg {
  margin: 50px 0;
  height: 200px;
  text-align: center;
  border: 1px solid #ECEDEF;
  border-radius: 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);

  h2 {
    font-size: 20px;
    margin-bottom: 10px;
  }

  // a {
  //   font-family: $headers-font;
  //   font-weight: 800;
  //   color: $blue;
  //   text-decoration: none;
  // }

  a {
    font-family: $headers-font;
    width: 60%;
    padding: 15px 30px;
    color: white;
    background-color: $blue;
    border-radius: 15px;
    text-decoration: none;
  }

}


/* Style for given meds */

.given_meds {

  margin: 50px 0;

  .given_med_card {
    border: 1px solid #ECEDEF;
    border-radius: 24px;
    display: flex;
    align-items: center;
    padding: 20px 30px;
    margin: 30px 0;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
  }

  i {
    color: $yellow;
    font-size: 35px;
    margin-right: 30px;
  }

  p {
    color: #8C8E97;
    font-size: 14px;
    margin: 0;
  }

}

/* If given meds empty */

.given_meds_empty {
  padding: 50px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);

  i {
    margin-top: 10px;
    font-size: 24px;
  }
}
