.profile-img-header-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  margin-bottom: 30px;
}

.profile-img-header-container img {
  border-radius: 0px 0px 100px 100px;
}

.profile-aboutmecard {

}
