//HUMAN (OWNER AND VET PROFILES)
.profile-img-header-container {
  display: inline-grid;
  width: 100%;
  grid-template-columns: 1;
  grid-template-rows: 1;
  background-color: white;
  margin-bottom: 30px;
  text-align: center;
  position: relative;
}

.vet-tag {
  position: absolute;
  top: 20px;
  left: 20px;
}

.avatar-large {
  width: 100%;
  height: 350px;
  border-radius: 0px 0px 100px 100px;
  margin-bottom: 10px;
}

.profile-aboutmecard {
  width: 100%;
  height: 100px;
  margin-top: 10px;
  margin-bottom: 20px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  clip-path: inset(0px -10px -10px -10px);
  padding: 0 10px;
  border-radius: 10px;
  position: relative;
}

.editprofile-tag {
  font-weight: 400;
  font-size: 12px;
  color: $yellow;
  position: absolute;
  top: 15px;
  right: 15px;
}

.profile-aboutmecard h2 {
  font-size: 24px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.profile-contactcard-container {
  display: inline-grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 16px;
  margin-bottom: 24px;
}

.profile-contactcard {
  width: 165px;
  margin-top: 20px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  clip-path: inset(0px -10px -10px -10px);
  padding: 0 8px;
  border-radius: 10px;
}

.profile-contactcard p {
  margin-top: 10px;
}

.profile-petscard-container {
  display: inline-grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 16px;
  margin-bottom: 20px;
}

.profile-petscard {
  width: 100px;
  height: 120px;
  margin-top: 20px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  clip-path: inset(0px -10px -10px -10px);
  padding: 0 10px;
  border-radius: 5px;
  text-align: center;
}

.profile-petscard img {
  margin-top: 10px;
}

.profile-petscard p {
  margin-top: 5px;
  margin-bottom: 5px;
}

.text-small {
  color: grey;
  font-weight: lighter;
  font-size: 10px;
  text-decoration: none;
}

.profile-petscard-add {
  width: 100px;
  height: 120px;
  margin-top: 20px;
  margin-bottom: 20px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  clip-path: inset(0px -10px -10px -10px);
  padding: 0 10px;
  border-radius: 10px;
  background-color: $blue;
  text-align: center;
}

.profile-petscard-add p {
  margin-top: 15px;
  margin-bottom: 5px;
  color: white;
}

.profile-petscard-add img {
  margin-top: 10px;
}


//PET PROFILES
.petavatar-large {
  width: 100%;
  height: 350px;

}

.petimage-container {
  z-index: -100;
  position: relative;
}

.petname-container {
  width: 100%;
  border-radius: 100px 100px 0px 0px;
  background-color: white;
  margin-bottom: 20px;
  position: absolute;
  top: 320px;
  z-index: -50;
}

.petname-container h2{
  padding-top: 20px;
  padding-bottom: 20px;
  height: 100px;
  text-align: center;
}

.petdetails-container {
  display: inline-grid;
  width: 100%;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  margin-bottom: 24px;
  text-align: center;
  justify-content: center;
}

.petdetails-card {
  height: 75px;
}

.petdetails-card p {
  font-weight: 400;
  font-size: 12px;
  color: $yellow;
}

.petdetails-card a {
  text-decoration: none;
  padding: 0;
  margin: 0;
}

.petdetails-card h4 {
  font-weight: 400;
  font-size: 18px;
}

.yellowsmalltext {
  font-weight: 400;
  font-size: 12px;
  color: $yellow;
  position: absolute;
  top: 15px;
  right: 15px;
}

.pet-medication-card {
  width: 100%;
  height: 200px;
  margin-top: 10px;
  margin-bottom: 20px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  clip-path: inset(0px -10px -10px -10px);
  padding: 0 10px;
  border-radius: 10px;
  position: relative;
}

.seemedication-tag {
  font-weight: 400;
  font-size: 12px;
  color: $yellow;
  position: absolute;
  top: 15px;
  right: 15px;
}

.medicationstatus-container {
  display: inline-grid;
  grid-template-columns: repeat(7, minmax(0, 1fr));
  grid-gap: 5px;
  margin-bottom: 16px;
  align-items: center;
}

.medicationstatus-card {
  text-align: center;
  width: 40px;
  margin-bottom: 10px;
}

a.yellow-btn {
  font-family: $headers-font;
  font-size: 18px;
  font-weight: 200;
  text-decoration: none;
  width: 100%;
  padding: 15px 30px;
  background-color: $yellow;
  border-radius: 15px;
  display: flex;
  text-align: center;
}

.medicationdosage-card {
  width: 100%;
  display:flex;
  height: 80px;
  border-radius: 15px;
  border-color: #ECEDEF;
  border-style: solid;
  align-items: center;
  margin-bottom: 8px;
}

.medicationdosage-img {
  padding: 16px;
  height: 100%
}

.medicationdosage-text {
  padding: 18px;
}

.medicationdosage-text h3 {
  margin-top: 8px;
}

.medicationdosage-btn {

  margin-left:45px;
  button {
    background-color:$yellow;
    color: black;
    border: none;
    padding: 15px 30px;
    border-radius: 15px;
    font-weight: 600;
    margin-left: auto;
  }
}

.donedose-btn {
  margin-left:45px;
  button {
    background-color:$green;
    color: black;
    border: none;
    padding: 15px 30px;
    border-radius: 15px;
    font-weight: 600;
    margin-left: auto;
  }
}
