<div class="medications_idx container">
  <h1>Current meds</h1>

  <div class="current_medications">
    <% @medications.each do |medication| %>
      <div class="current_medications_cards">
        <div class="curr_meds_top">
          <i class="fa-solid fa-capsules"></i>
          <h3><%= medication.name %></h3>
        </div>

        <div class="curr_meds_icons">
          <div class="curr_meds_icon">
            <%= link_to edit_medication_path(medication) do %>
              <i class="fa-regular fa-pen-to-square"></i>
            <% end %>
          </div>

          <div class="curr_meds_icon">
            <%= link_to medication_path(medication), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} do %>
              <i class="fa-regular fa-trash-can"></i>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>

  <h1>Medication history</h1>

  <div class="given_meds">
    <% @given_administrations.each do |administration| %>
      <div class="given_med">
        <i class="fa-solid fa-capsules"></i>
        <h3><%= administration.medication.name %></h3>
      </div>
    <% end %>
  </div>
</div>
