<footer>
  <div class="footer-icons">
    <i class="fa-brands fa-square-facebook"></i>
    <i class="fa-brands fa-square-instagram"></i>
    <i class="fa-brands fa-square-twitter"></i>
  </div>

  <div class="footer-cr">
    Chillpill © 2023. All rights reserved
  </div>
</footer>
