<div class="full-pages full-vh">
  <div class="container">
  <h2><strong> Add a new carer <br> or vet </strong></h2>

    <%= simple_form_for [@pet, @pet_carer] do |f| %>
      <%= f.simple_fields_for :user do |r| %>

      <div class="form-inputs">
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="fa-regular fa-envelope"></i></span>
          </div>
          <%= r.input :email,
                          required: true,
                          autofocus: true,
                          label: false,
                          wrapper: false,
                          input_html: { autocomplete: "email" , placeholder: "Enter email registered with ChillPill"}%>
        </div>
      </div>
    <% end %>

      <%= f.submit "Add carer", class: 'button' %>
    <% end %>
  </div>
</div>
