<div class="hero">
  <div class="hero-info">
    <h1>Help your pet have a better healthcare</h1>

    <div class="hero-action">
      <%= link_to 'Sign up now', new_user_session_path, class: "hero-signup-btn", target: "_blank" %>
      <br>
      <br>
      <%= link_to 'or login to your account', new_user_session_path, class: "hero-login-btn", target: "_blank" %>
    </div>
  </div>
</div>

<div class="our-services">

  <h2>Our services</h2>

  <div class="service-card">
    <i class="fa-regular fa-calendar-check"></i>
    <p><strong>Never forget the medication</strong><p>
    <p>With our medication schedule, you'll never forget to give the medicine to your pet. Faucibus urna ut fames urna morbi lectus orci.</p>
  </div>

  <div class="service-card">
    <i class="fa-solid fa-pills"></i>
    <p><strong>Medical treatment for pets</strong><p>
    <p>We have a veterinarian service that will help you know which medicine your pet needs to take. Faucibus urna ut fames urna morbi lectus orci. Enim senectus fusce nibh at risus. Tellus integer vitae pretium faucibus.</p>
  </div>

  <div class="service-card">
    <i class="fa-regular fa-hospital"></i>
    <p><strong>Talk with vets if needed</strong><p>
    <p>If you have any question about your pet's medication, you can always ask your vet. Faucibus urna ut fames urna morbi lectus orci.</p>
  </div>
</div>

<div class="home-find-vets">
  <h2>Find the closest vet</h2>
  <p>We have associated vets all around the world and we are so awesome.</p>

  <div class="home-find-vets-map"></div>
</div>

<div class="home-witnesses">
  <i class="fa-solid fa-heart"></i>

  <h2>Make your pet the happiest<br>pet in the world.</h2>

  <h2>Trusted by 98,348,445 users around the world.</h2>

  <div class="witness-one-img"></div>
  <div class="witness-txt">
    <h3>“It was difficult to organize the medicine intake when you have so many members in the house, Chillpill made it a lot easier”</h3>
    <p>— Maria González</p>
  </div>

  <div class="witness-two-img"></div>
  <div class="witness-txt">
    <h3>“It was difficult to organize the medicine intake when you have so many members in the house, Chillpill made it a lot easier”</h3>
    <p>— Wagon Le</p>
  </div>

  <div style="width: 100%; height: 600px;"
    data-controller="map"
    data-map-markers-value="<%= @markers.to_json %>"
    data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>
</div>
