.navbar-lewagon {
  justify-content: space-between;
  background-color: $yellow;

}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: $yellow;
  width: 100%;
  padding: 10px;
  padding-top: 65px;
  height: 100vh;
  overflow: scroll;

}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.logo{
  width: 130px;
  padding-top: 15px;

}
.container-fluid .logo-link{
  z-index: 101;
}

.fa-solid{
  margin-right: 10px;
}

.fa-regular{
  margin-right: 10px;
}

.navbar-nav a{
 color: black;
 text-decoration: none;
}

.navbar-toggler{
  z-index: 101;
  border: 0;
}

.navbar-toggler:focus{
  box-shadow: none;
}

#adding a{
  text-align: right;
}

.card-product {
  margin-top: 30px;
  overflow: hidden;
  height: 80px;
  display: flex;
  background-color: white;
  align-items: center;
  border-radius: 15px;
}



.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.navbar-margin{
  margin-top: 30px;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-product-infos {
  padding: 16px;
}

.card-arrow a{
  margin-left: 100px;
}

#adding a{
  margin-left: 140px;
}

 .burger-last {
  display: flex;

}

.burger1 {
 flex: 1;
 margin-top: 80px;

}

.pet-grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
  margin-bottom: 30px;

  .pet-card-grid {
    background-color: white;
    border-radius: 15px;
    height: 120px;
    width: 100px;
  }

  .pet-card-grid img{
    padding-top: 10px;
    margin-right: 15px;
    margin-left: 15px;
    border-radius: 50px;
  }

  .grid-item{
    text-align: center;
    margin-top: 10px;
  }
}

.burger-img{
  object-fit: cover;
  height: 60px;
  width: 60px;
  margin-left: 20px;
  border-radius: 15px;
}
